<!--메모 작성 페이지-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyBlog - Memo</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'memo.css' %}" />
</head>
<body>
    <header>
        <nav>
            <ul class="nav-list">
                <a href ="{%url 'Hello:index'%}">index</a>
                <a href ="{%url 'Hello:storage'%}">storage</a>

            </ul>
        </nav>
    </header>
    <main>
        <div class="faq-container shadow-box ">
            <div>
                <h2 class="center-a"><i class = "fas fa-book"></i> 기록하기</h2>
                <form method="post">
                    {% csrf_token %}
                    <div>
                        <input name = 'title' type = 'text'>
                        <input name = 'main_text' type = 'text'>
                        <input type = 'submit' value = 'save'>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
</html>