<!--메모 리스트-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyBlog - Memo</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'memo.css' %}" />
</head>
<body>
    <header>
        <nav>
            <ul class="nav-list">
                <a href ="{%url 'Hello:index'%}">index</a>
            </ul>
        </nav>
    </header>

    <main>
        <div class="faq-container shadow-box">
            <div>
                {% for list in dashboard%}
                <ol>
                    <a href="{% url 'Hello:storage_IDviews' list.id %}">
                     {{list.title}} / {{list.main_text}} /{{list.date}}
                    </a>
                </ol>
            </br>

                {% endfor %}  
            </div>
        </div>
    </main>
</body>
</html>