<!--메모 작성 페이지-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyBlog - Memo</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'memo.css' %}" />
</head>
<body>
    <header>
        <nav>
            <ul class="nav-list">
                <a href ="{%url 'Hello:index'%}">tmp</a>
            </ul>
        </nav>
    </header>
    <main>
        <div class="faq-container shadow-box ">
            <div>
                <h2 class="center-a"><i class = "fas fa-book"></i>Hello,world!</h2>
                <a href = "{%url 'Users:login'%}" class = "href-item center-container">login</a>
                <br>
                <a href = "{%url 'Users:signup'%}" class ="href-item center-container">signup</a>
            </div>
        </div>
    </main>
</body>
</html>