<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyBlog - Memo</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>
<body>
    <header>
        <nav>
            <ul class="nav-list">
                <!--여기에 url-->

            </ul>
        </nav>
    </header>
    <main>
        <div class="faq-container shadow-box ">
            <div>
                <h2 class="center-a"><i class = "fas fa-book"></i> 기록하기</h2>
                <form method="post">
                    {% csrf_token %}
                    <div>
                        <label for="memo_title"></label>
                        <input type="text" id="memo_title" name="title" placeholder="" required>
                    </div>
                    <div>
                        <label for="memo_content"></label>
                        <textarea id="memo_content" name="content" rows="5" placeholder="" required></textarea>
                    </div>
                    <button type="submit">저장</button>
                </form>
            </div>
        </div>
    </main>

    <footer>
        &copy; GreatStep
    </footer>

    <script>
        const faqItems = document.querySelectorAll('.faq-item h3');

        faqItems.forEach(item => {
            item.addEventListener('click', () => {
                const next = item.nextElementSibling;
                next.style.display = next.style.display === 'block' ? 'none' : 'block';
            });
        });
    </script>
</body>
</html>