<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyBlog - Memo</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>
<body>
    <header>
        <nav>
            <ul class="nav-list">
                <a href ="{%url 'Hello:index'%}">index</a>
            </ul>
        </nav>
    </header>

    <main>
        <div class="faq-container shadow-box ">
            <div>
            
                  <h2>{{memo.title}}</h2>  
                  <pre> {{memo.main_text}} </pre>
                    
            </div>
        </div>
    </main>
</body>
</html>